* {
    margin: 0px;
    padding: 0px;
}


#fondo-principal {
    display: block;
    width: 90%;
    background-color: greenyellow;
    margin: 0 auto;
    height: 600px;
    padding: 10px;
}

header {
    background-color: orange;
}

nav {
    background-color: rgb(255, 215, 140);
}

#imagenes {
    display: flex;
    background-color: orange;
    justify-content:space-evenly;
    margin: 0 auto;
}

#imagenes img {
    width: 10%;
    margin: 20px;
}

#container {
    position: flex;
    float: left;
    width: 100%;
    height: 430px;
    background-color: aqua;
}

#container aside {
    float: left;
    width: calc(40% - 2px);
    background-color: yellow;
    height: 150px;
    border: 1px solid black;
    
}

#container main {
    float: left;
    width: calc(60% - 2px);
    background-color: yellow;
    height: 150px;
    border: 
    1px solid black;
}

aside {
    display: flex;
    justify-content: center;
}

aside ul {
    background-color: rgb(254, 254, 98);
    width: 70%;
    margin: 30px;
    border: 3px solid black;
}

main {
    display: block;
}

main article {
    width: 90%;
    height: 30px;
    margin: 30px;
    border: 3px solid black;
}

.clearfix{
    float: none;
    clear: both;
}

#pie-pagina {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: green;
    height: 100px;
    margin: 0 auto;
}

#pie-pagina .contenido {
    float: left;
    background-color: greenyellow;
    width: 40%;
    margin: 30px;
}